---
import SiteFooter from '../components/SiteFooter.astro'
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="hsl(32, 100%, 92%)"> -->
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/spectre.css">
    <link rel="stylesheet" href="/style/spectre-icons.css">
</head>
<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="/" class="navbar-brand mr-2">Koser Fantasy Football Stats</a>
        </section>
        <section class="navbar-section">
            <a href="/weeks" class="btn btn-link">Weeks</a>
            <a href="/teams" class="btn btn-link">Teams</a>
        </section>
    </header>
    <main class="container site-main">
        <h1>{title}</h1>
        <slot />
    </main>
    <SiteFooter />
</body>
</html>